html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSansfont/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSansfont/PublicSans-Regular.woff") format("woff"), url("../fonts/PublicSansfont/PublicSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.woff2") format("woff2"), url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  background: #FFFFFF;
  font-size: 15px;
  line-height: 130%;
  font-weight: 300;
  color: #FFFFFF;
}

li {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 17px 33px;
}

.header {
  background: url(../pictures/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-bottom: 120px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 200px;
  font-size: 13px;
}
.header__nav-menu {
  display: flex;
  gap: 50px;
}
.header__content {
  max-width: 550px;
  margin-bottom: 200px;
}
.header__content-title {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 116%;
  letter-spacing: 1.2px;
}
.header__content-subtitle {
  font-size: 18px;
  line-height: 156%;
  padding-top: 30px;
  margin-bottom: 30px;
}
.header__company-title {
  font-weight: 300;
}
.header__company-branches {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 15px;
}
.header__company-branches li {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 17px 0;
}

.main {
  color: #003331;
}

.step {
  margin-bottom: 120px;
}
.step__text {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 1.2px;
  max-width: 717px;
  margin: 0 auto;
}
.step__items {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  gap: 45px;
  max-width: 750px;
  margin: 0 auto;
}
.step__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.step__item:nth-of-type(odd)::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  top: -30%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #014C48;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__item:nth-of-type(even)::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 180px;
  height: 1px;
  background: rgba(53, 83, 98, 0.2);
}
.step__item-descr {
  width: 125px;
  padding-top: 30px;
  text-align: center;
  line-height: 160%;
  color: rgba(53, 83, 98, 0.8);
}

.human-centered {
  background-color: #F7F8F8;
  margin-bottom: 25px;
}
.human-centered .container {
  display: flex;
  gap: 143px;
  padding-bottom: 80px;
}
.human-centered__description {
  padding-top: 110px;
  max-width: 450px;
}
.human-centered__title {
  color: #003331;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 13px;
}
.human-centered__text {
  color: rgba(53, 83, 98, 0.8);
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 40px;
}
.human-centered__btn {
  border: 1px solid rgba(53, 83, 98, 0.2);
  font-size: 13px;
  line-height: 154%;
  color: #003331;
}
.human-centered__images {
  padding-top: 80px;
  display: flex;
  gap: 8px;
}
.human-centered__img-first {
  min-width: 235px;
  min-height: 266px;
  border-radius: 3%;
}
.human-centered__img-second {
  min-width: 317px;
  min-height: 262px;
  border-radius: 3%;
}