html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSansfont/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSansfont/PublicSans-Regular.woff") format("woff"), url("../fonts/PublicSansfont/PublicSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.woff2") format("woff2"), url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskervilefont/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  background: #F5F5F5;
  font-size: 15px;
  line-height: 130%;
  font-weight: 400;
  color: #FFFFFF;
}

li {
  cursor: pointer;
}

.header {
  background: url(../pictures/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 200px;
  font-size: 13px;
}
.header__nav-menu {
  display: flex;
  gap: 50px;
}
.header__content {
  max-width: 550px;
  margin-bottom: 200px;
}
.header__content-title {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 116%;
  letter-spacing: 1.2px;
}
.header__content-subtitle {
  font-size: 18px;
  line-height: 156%;
  padding-top: 30px;
  margin-bottom: 30px;
}
.header__company-title {
  font-weight: 300;
}
.header__company-branches {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 15px;
}
.header__company-branches li {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 17px 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 17px 33px;
}